@import 'header';

.display-container {
  overflow: auto;
  // border: 2px solid red;
  margin: 0 auto;
  max-width: 95%;
  padding: 15px 0px;
}

.pet-list {
  display: inline-block;
  border: 2px solid black;
  text-align: center;
  padding: 5px;
  float: left;
  box-sizing: border-box;
  width: 100%;
  height: 515px;
  overflow: auto;
}

.pet-pic {
  padding: 2px 3px;
  max-width:100%;
  max-height:285px;
}

.fave-pets-container {
  margin: 0 auto;
  display: block;
  // border: 5px solid blue;
}

// .display-container > .row > .col-md-3:nth-child(4n+1) {
//   clear: both;
// }

.pet-list-shell {
  margin: 0;
  padding: 2px;
}

.shelter-list-shell {
  @extend .pet-list-shell;
}

.fave-shelters-container {
  @extend .fave-pets-container;

  h2 {
  border-top: 2px dashed black;
  padding-top: 10px;
  }
  // border: 5px solid green;
}

.shelter-list {
  @extend .pet-list;
  height: 250px;
  
  p {
    padding: 1px 5px;
  }

}

.random-pet-list {
  @extend .pet-list;
  // display: inline block;
  // border: 5px solid black;
  // text-align: center;
  // padding: 0px;
  // // margin: 2px;
  // float: left;

  h3 {
    padding-bottom: 5px;
    margin: 0px;
  }
  
}

.login-area {
  padding-left: 20px;
  padding-bottom: 200px;
}














