<section class="display-container">
  <div class="fave-pets-container row">
    <h2>Dogs:</h2>
    <div ng-repeat="pet in favoritePets" class="pet-list-shell col-sm-6 col-md-3">

      <div class="pet-list">

        <img ng-src="{{ pet.imgURL }}" class="pet-pic">
        <h3>{{ pet.name }}</h3>
        <p>{{ pet.breed }}</p>
        <p>Gender: {{ pet.gender }}</p>
        <p>Shelter ID: {{ pet.shelter }}</p>
        <!-- pet.imgURL because pet = single pet in favorited pets on firebase
              imgURL is the key on the firebase object -->
        <!-- <p>description</p> -->
        <p><class="btn" role="button" ng-click="deletePet(pet)"> &#9733; Remove From Favorites</p>
        <!-- deletePet() is in FavoritePetsListCtrl -->

      </div> <!-- pet-list -->

    </div> <!-- closing pet ng-repeat -->  

  </div> <!-- closing fave-pets-container -->

  <div controller="FavoriteSheltersListCtrl" ng-include="'partials/favorite-shelters.html'"></div>

</section>

