<div class="display-container row">

  <div ng-repeat="pet in favoritePets" class="pet-list col-sm-6 col-md-3">
    <h3>{{ pet.name }}</h3>
    <!-- pet.imgURL because pet = single pet in favorited pets on firebase
          imgURL is the key on the firebase object -->
    <img ng-src="{{ pet.imgURL }}">
    <!-- <p>description</p> -->
    <p><class="btn" role="button" ng-click="deletePet(pet)"> &#9733; Remove From Favorites</p>
    <!-- favoritePet() is in PetResultsCtrl -->
  </div> <!-- closing ng-repeat -->

</div>

