<img src="app/images/3dogscropped.jpg" class="header-photo" alt="">

<div ng-controller="HeaderCtrl">
  <nav>
    <ul class="nav nav-tabs">
      <li role="presentation" ng-class="{active: tab=='a'}"> 
        <a href="#/" ng-click="tab = 'a'">Pet Search</a>
      </li>
      <li role="presentation" ng-class="{active: tab=='b'}"> 
        <a href="#" ng-click="tab = 'b'">Shelter Search</a>
      </li>
      <li role="presentation" ng-class="{active: tab=='c'}"> 
        <a href="#/favorites" ng-click="tab = 'c'">Favorites</a>
      </li>
      <li role="presentation" ng-class="{active: tab=='d'}" class="loginListItem">
          <a href="#/login" class="loginLink" ng-click="tab = 'd'">
            <span ng-if="!isAuthenticated()">Login / Register</span>
            <span ng-if="isAuthenticated()" ng-click="logout()">Logout</span>
          </a>
      </li>
    </ul>
  </nav>


  <div ng-if="tab==='a'">
    <div ng-include="'partials/pet-search.html'"></div>
  </div>

  <div ng-if="tab==='b'">
    <div ng-include="'partials/shelter-search.html'"></div>
  </div>

<!--   <div ng-if="tab==='c'">
    <div ng-include="'partials/favorite-pets.html'"></div>
  </div> -->


</div>







