<div ng-controller="PetCtrl">  
  <!-- Breed input -->
  <input type="text" placeholder="Enter Breed" ng-model="pet.breed">

  <!-- Age dropdown -->
  <div class="btn-group">
    <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Age <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" name="age" ng-model="pet.age" id="age">
      <li value="puppy"><a href="#">Puppy</a></li>
      <li value="young"><a href="#">Young</a></li>
      <li value="adult"><a href="#">Adult</a></li>
      <li value="senior"><a href="#">Senior</a></li>
    </ul>
  </div>

  <!-- Gender dropdown -->
  <div class="btn-group">
    <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Gender <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" name="sex" ng-model="pet.sex" id="sex">
      <li value="M"><a href="#">Male</a></li>
      <li value="F"><a href="#">Female</a></li>
    </ul>
  </div>

  <!-- Zip input -->
  <input type="text" placeholder="Enter Zip Code" ng-model="pet.zip">

  <!-- Search button -->
  <button ng-click="searchPets()">Search Pets</button>

</div>
