<input type="text" placeholder="Enter Breed" ng-model="findPet">

<!-- Age button -->
<div class="btn-group">
  <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Age <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="#">Puppy</a></li>
    <li><a href="#">Youngin</a></li>
    <li><a href="#">Adult</a></li>
    <li><a href="#">Senior</a></li>
    <!-- <li role="separator" class="divider"></li> -->
  </ul>
</div>

<!-- Gender button -->
<div class="btn-group">
  <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Gender <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="#">Male</a></li>
    <li><a href="#">Female</a></li>
    <!-- <li role="separator" class="divider"></li> -->
  </ul>
</div>

<input type="text" placeholder="Enter Zip Code" ng-model="findZip">
<button ng-click="find()">Search Pets</button>
